body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.like-button {
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.like-button.liked {
    color: rgb(181, 246, 181);
}

.like-button:hover {
    transform: scale(1.1);
}

.counter {
    font-size: 20px;
    margin-top: 10px;
}

table {
    width: 20%;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}
ul {
    list-style-type: none;  /* Supprime les puces */
    padding: 0;
}
li {
    text-align: left;  /* Aligne le texte à gauche */
    font-family: Arial, sans-serif;
    padding: 8px 0;
}
.container {
display: flex;        /* Active Flexbox */
justify-content: space-between; /* Espace entre les div */
gap: 20px;           /* Espacement entre les blocs */
}

.box {
background: lightblue;
padding: 20px;
flex: 1;  /* Permet aux div de prendre la même largeur */
text-align: center;
border-radius: 10px;
}
.green {
    color: rgb(63, 187, 63);
}