<!DOCTYPE html>
<html>
<head>
    <title>Traitements CSV</title>
    <script src="https://cdn.jsdelivr.net/npm/jschardet@2.1.0/dist/jschardet.min.js"></script>
    <link href="../static/css/styles.css" rel="stylesheet" />
    <link href="../static/css/traitements_css.css" rel="stylesheet" />

</head>
<body style="--sidebar-width: 25%;" class="masthead2 text-white">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="header container d-flex justify-content-between px-4 px-lg-5">
            <a class="navbar-brand" href="{{ url_for('home') }}#page-top">Pro_Files</a> <!-- Aligné à gauche -->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" id="bouton-clignotant" href="{{ url_for('convert') }}">PDF</a> <!-- Aligné à droite -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary" id="bouton-clignotant" href="{{ url_for('home') }}#services">🔙 Retour</a> <!-- Aligné à droite -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class=" align-items-center justify-content-center text-center">
        <div class="body-header">
            {% if message %}
                <div id="error-message" style="background: red; color: white; padding: 10px; border-radius: 5px;">{{ message }}</div>
            {% endif %}
        </div>
    </div>

    <div class="sidebar">
        <div class="text-center">
            <div ><img src="/static/assets/img/img_csv.png" style="width: 100px; height: 100px;"></div>
            <p class="text-white mb-0 text-left">
                📂 Importez simplement votre fichier CSV, sélectionnez les optimisations souhaitées et téléchargez un fichier propre et exploitable !<br>
                
                ✨ Optimisez vos fichiers dès maintenant et simplifiez votre gestion de données !<br>

                🔹 <a class="link" data-target="div1" href="#">Nettoyer les données</a> Suppression des valeurs nulles, des doublons, nettoyage des colonnes <br>
                🔹 <a class="link" data-target="div2" href="#">Transformer les données</a> Conversion de types, filtrage, agrégation<br>
                🔹 <a class="link" data-target="div3" href="#">Optimiser le fichier</a> Compression, suppression de colonnes inutiles<br>
                🔹  <a class="link" data-target="div4" href="#">Encoder et stocker</a> Modifier l'encodage et enregistrer<br>
                🔹  <a class="link" data-target="div5" href="#">Concatener</a> Fusionner les données de plusieurs fichiers<br>
                
            </p>
        </div>
    </div>
    <div class="container2 content">               
        <div class="form-container col-lg-3 col-md-2 text-center" id="div1">
            <form action="/upload_csv" method="post" enctype="multipart/form-data">
                <p>🛠 Nettoyage de Données</p>
                <input type="file" name="file" id="" required>
                <button type="submit" name="remove_nulls">Supprimer les valeurs nulles</button>
                <button type="submit" name="remove_duplicates">Supprimer des doublons</button>
                <button type="submit" name="clean_columns">Nettoyer les noms de colonnes</button>
                <button type="submit" name="clean_characters">Supprimer les caractères speciaux</button>
                <button type="submit" name="apply_all">Appliquer tous les traitements précédents</button> 
            </form> 
        </div>
        <div class="form-container col-lg-3 col-md-2 text-center" id="div2">
            <form action="/upload_csv" method="post" enctype="multipart/form-data">
                <p>🔄Conversions et Transformation de données</p>
                <input type="file" name="file" id="" required>
                <button type="submit" name="format_names">Formater en majuscules et ordonner les noms et les prénoms</button>
                <button type="submit" name="format_min_names">Formater en minuscule et ordonner les noms et les prénoms</button>
                <button type="submit" name="convert_excel">Convertion vers Excel</button>
                <button type="submit" name="convert_json">Convertion vers Json</button>
                <button type="submit" name="convert_parquet">Convertion vers Parquet</button>
            </form> 
        </div>
        <div class="form-container col-lg-3 col-md-2 text-center" id="div3">
            <form action="/compress_csv" method="post" enctype="multipart/form-data">
                <p>📤Compression</p>
                <input type="file" name="file" id="" required>
                <div id="result"></div>
                <button type="submit" name="compress_csv">Valider</button>
            </form> 
        </div>
        <div class="form-container col-lg-3 col-md-2 text-center" id="div4">
            <form action="/change_encoding" method="post" enctype="multipart/form-data">
                <p>🔤Correction d'encodage</p>
                <input type="file" name="file" id="csv-file" required >
                <div id="result"></div>
                <p>Si les données sont corrompues, choisissez un encodage alternatif :</p>
                <div class="radio-group">
                    <label><input type="radio" name="new_encoding" value="utf-8" checked> UTF-8</label><br>
                    <label><input type="radio" name="new_encoding" value="utf-16"> UTF-16</label><br>
                    <label><input type="radio" name="new_encoding" value="utf-32"> UTF-32</label><br>
                    <label><input type="radio" name="new_encoding" value="ASCII"> ASCII</label><br>
                    <label><input type="radio" name="new_encoding" value="ISO-8859-1"> ISO-8859-1</label><br>
                    <label><input type="radio" name="new_encoding" value="latin1"> Latin-1</label><br>
                    <label><input type="radio" name="new_encoding" value="windows-1252"> Windows-1252</label><br>
                </div>
                <button type="submit" name="change_encoding"> Lire avec l'encodage sélectionné et télécharger</button>
            </form> 
        </div>
        <div class="form-container col-lg-3 col-md-2 text-center" id="div5">
            <form action="/concat_csv" method="post" enctype="multipart/form-data">
                <p>Fusion et Jointure de CSV</p>
                <label for="files">Sélectionner les fichiers CSV :</label>
                <input type="file" id="files" name="files" accept=".csv" multiple>
                <br><br>
                <button type="submit">Fusionner les fichiers</button>
            </form> 
        </div>
    </div> 
        <!-- Inclure la bibliothèque jschardet -->
        <script src="https://cdn.jsdelivr.net/npm/jschardet/dist/jschardet.min.js"></script>  
        <!-- Ajout du script jschardet -->
        <script src="https://cdn.jsdelivr.net/npm/jschardet/dist/jschardet.min.js"></script>    
    <script src="../static/js/scripts.js"></script>
    <script src="../static/js/traitement_csv.js"></script>
</body>

</html>
